body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aquamarine;
}

.main {
    text-align: center;
    margin-top: 10rem;
}

.timer-container {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    margin-bottom: 2rem;
}
.btn {
    background-color: bisque;
    border: 0;
    border-radius: 5px;
    width: 130px;
    height: 50px;
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.btn:hover {
    cursor: pointer;
    background-color: rgb(255, 192, 114);
}
